<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>es.upm.dit.isst.resource.MainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateResource</servlet-name>
		<servlet-class>es.upm.dit.isst.resource.CreateResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveResource</servlet-name>
		<servlet-class>es.upm.dit.isst.resource.RemoveResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateUser</servlet-name>
		<servlet-class>es.upm.dit.isst.user.CreateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Email</servlet-name>
		<servlet-class>es.upm.dit.isst.resource.EmailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Reminder</servlet-name>
		<servlet-class>es.upm.dit.isst.resource.ReminderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>es.upm.dit.isst.user.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Reservar</servlet-name>
		<servlet-class>es.upm.dit.isst.resource.ReservarResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListReserves</servlet-name>
		<servlet-class>es.upm.dit.isst.reserve.ListReserveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyReserve</servlet-name>
		<servlet-class>es.upm.dit.isst.reserve.ModifyReserveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyResource</servlet-name>
		<servlet-class>es.upm.dit.isst.resource.ModifyResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveReserve</servlet-name>
		<servlet-class>es.upm.dit.isst.reserve.RemoveReserveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmailReserve</servlet-name>
		<servlet-class>mail.EmailConfirmReserveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmailRemoveReserve</servlet-name>
		<servlet-class>mail.EmailRemoveReserveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmailUpdateReserve</servlet-name>
		<servlet-class>mail.EmailUpdateReserveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>paintMap</servlet-name>
		<servlet-class>es.upm.dit.isst.resource.labResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowStats</servlet-name>
		<servlet-class>es.upm.dit.isst.resource.statsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ShowStats</servlet-name>
		<url-pattern>/stats</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>paintMap</servlet-name>
		<url-pattern>/map</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveReserve</servlet-name>
		<url-pattern>/removeReserve</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailReserve</servlet-name>
		<url-pattern>/mandamail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailRemoveReserve</servlet-name>
		<url-pattern>/removemail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailUpdateReserve</servlet-name>
		<url-pattern>/updatemail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyResource</servlet-name>
		<url-pattern>/modifyResource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyReserve</servlet-name>
		<url-pattern>/modifyReserve</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListReserves</servlet-name>
		<url-pattern>/listReserves</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Reservar</servlet-name>
		<url-pattern>/reserve</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Reminder</servlet-name>
		<url-pattern>/reminder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateResource</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Email</servlet-name>
		<url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveResource</servlet-name>
		<url-pattern>/remove</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateResource</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/createUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/newUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/reminder</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
